<% provide :title, "｜Genre" %>

  <!-- NavBar-->
<%= render partial: 'common/header' %>
<div class="intro-devise">
  <% breadcrumb :genre %>
  <%= render partial: 'common/breadcrumb' %>
  <h2 class="h3_home wow fadeIn" data-wow-delay="0.6s">Choose Genre!</h2>
  <div class="theme-inner" style="display: inline-block;">
    <% @genres.each do |genre| %>
      <div class="group_action panel panel-default" style="margin: 10px;">
        <div class="panel-body">
          <p><h4><%= genre.name %></h4></p>
          <div class="image" style="background-image: url(<%= genre.image_url %>); width: 150px; height: 150px; margin: 15px auto;"></div>
          <%= link_to 'Select', "genres/#{genre.id}/themes", method: :get, :class =>"btn btn-primary withripple" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'common/footer' %>
