<html>
<% provide :title, "｜Top" %>
<body id="home" style="overflow: visible;">

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
    </div>
  </div>

  <!-- FullScreen -->
    <div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn animated animated" style="visibility: visible; animation-delay: 0.4s;">Libra</h1>
      <p class="h3_home wow fadeIn animated animated" style="visibility: visible; animation-delay: 0.4s;">Simply & Satisfactory Rating Application.</p>
      <ul class="list-inline intro-social-buttons">
        <li id="download" >
          <a href="/genres" class="btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s;">Start!</a>
        </li>
      </ul>
    </div>
        <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn animated animated" style="visibility: visible;">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp animated animated" data-wow-duration="1.5s"  href="#whatis" style="visibility: visible; animation-duration: 1.5s;"></a>
      </div>
    </div>
  </div>

<%= render partial: 'common/header' %>

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <% breadcrumb :root %>
    <%= render partial: 'common/breadcrumb' %>
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>What is?</h2>
        <p class="lead" style="margin-top:0">Elo Rate to X.</p>
      </div>

      <div class="row">

        <div class="col-sm-4 wow fadeInDown text-center animated animated">
          <img class="rotate" src="img/icon/libra.png" alt="Generic placeholder image">
          <h3>Altanative</h3>
          <p class="lead">It is the alternative that you do. That's it. </p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/aggregate.png" alt="Generic placeholder image">
           <h3>Aggregate</h3>
           <p class="lead">Countless subjectivity, to only objective. </p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/browser.svg" alt="Generic placeholder image">
           <h3>Theme</h3>
          <p class="lead">What you want to know is what someone wants to know. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

      <div class="row tworow">

       <div id = "howtouse" class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>How to use</h2>
        <p class="lead" style="margin-top:0">Simple Rating.</p>
       </div>

        <div class="col-sm-4  wow fadeInDown text-center">
          <img class="rotate" src="img/icon/choose.png" alt="Generic placeholder image">
          <h3>Choose</h3>
          <p class="lead">Sign in and choose the theme you are interested in. </p>
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/swipe.png" alt="Generic placeholder image">
           <h3>Swipe</h3>
           <p class="lead">Select one side according to the theme. </p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/ranking.png" alt="Generic placeholder image">
           <h3>Ranking</h3>
         <p class="lead">We collect many swipes and make ratings. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>
  </div>

  <!-- Elo Rating -->
    <div id ="elorating" class="content-section-a">

        <div class="container">
            <div class="row">
        <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="img/chess.jpg" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Elo Rating</h3>
          <div class="sub-title lead3">The Elo rating system is a method for calculating the relative skill levels of players in competitor-versus-competitor games such as chess. </div>
                    <p class="lead">
             It is inferred from wins, losses, and draws against other players. Players' ratings depend on the ratings of their opponents, and the results scored against them. The difference in rating between two players determines an estimate for the expected score between them.<br>
             (from Wikipedia "Elo rating system"-<a href ="http://en.wikipedia.org/wiki/Elo_rating_system">http://en.wikipedia.org/wiki/Elo_rating_system</a>)
          </p>
        </div>
      </div>
    </div>
        <!-- /.container -->
  </div>


  <!-- Contact -->
  <div id="contact" class="content-section-a">
    <div class="container">
      <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Contact Me</h2>
        <p class="lead" style="margin-top:0">Please follow me.</p>
      </div>

      <form role="form" action="mailto:teru_fukumoto@" method="post" >
        <div class="col-md-6">
          <div class="form-group">
            <label for="InputName">Your Name</label>
            <div class="input-group">
              <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="InputEmail">Your Email</label>
            <div class="input-group">
              <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
              <span class="input-group-addon"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="InputMessage">Message</label>
            <div class="input-group">
              <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
              <span class="input-group-addon"></span>
            </div>
          </div>

          <input type="submit" name="submit" id="submit" value="Send" class="btn wow tada btn-embossed btn-primary pull-right">
        </div>
      </form>

      <hr class="featurette-divider hidden-lg">
        <div class="col-md-5 col-md-push-1 address">
          <address>
          <h3>Made By</h3>
          <h4>Teruhisa Fukumoto</h4>
          <img class="rotate" src="img/icon/me.svg" style="width:80px; height:80px;" alt="Generic placeholder image">
          <%= link_to "My Facebook", "https://www.facebook.com/teruhisa.fukumoto" %>
          </address>

          <h3>Social</h3>
          <li class="social">
            <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
            <a href="#"><i class="fa fa-twitter-square fa-size"> </i> </a>
            <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
            <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
          </li>
        </div>
      </div>
    </div>
  </div>

<%= render partial: 'common/footer' %>

  <!-- StikyMenu -->

  <script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();
    });
    });
  </script>

  <script>
   new WOW().init();
  </script>

  <%= yield %>
</body>

</html>
