<% provide :title, "｜Theme" %>

<%= render partial: 'common/header' %>
<div class="intro-devise">
  <% breadcrumb :theme_registration %>
  <%= render partial: 'common/breadcrumb' %>
  <h2 class="h3_home wow fadeIn" data-wow-delay="0.6s">Post Your Theme!</h2>
  <div class="inner" style="display: inline-block;">
    <%= form_for @theme,:url => {:action => :create} do |f| %>
      <%= f.label :Title %>
      <%= f.text_field :title, placeholder: "Title", class: "form-control.placeholder" %>

      <%= f.label :Information %>
      <%= f.text_field :information, placeholder: "Information", class: "form-control.placeholder" %>

      <%= f.label :Image %>
      <%= f.file_field :image_url, placeholder: "Theme Image", class: "form-control" %>

      <br><%= f.submit "Post", class: "btn btn-primary withripple" %>
    <% end %>
  </div>
</div>
<%= render partial: 'common/footer' %>
