<% provide :title, "｜Theme" %>

  <!-- NavBar-->
<%= render partial: 'common/header' %>
<div class="intro-devise">
  <div class="theme-inner" style="display: inline-block;">
    <% @themes.each do |theme| %>
      <div class="group_action panel panel-default" style="margin: 10px;">
        <div class="panel-body">
      <p><h4><%= theme.title %></h4></p>
      <div class="image" style="background-image: url(<%= theme.image_url %>); width: 150px; height: 150px; margin: 15px auto;"></div>
      <p><%= theme.information %></p>
        <%= link_to 'Rating', "/themes/#{theme.id}/rates", method: :get, :class =>"btn btn-primary withripple" %>
        <% if user_signed_in? && current_user.id == theme.user_id %>
        <%= link_to 'Delete', "/themes/#{theme.id}", method: :delete, :class =>"btn btn-primary withripple" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
<%= paginate(@themes) %>

<%= render partial: 'common/footer' %>
