<%= render partial: 'common/header' %>
<h3 margin:15px;>My Page Edit</h3>
<div class="row form">
  <div class="col-lg-12">
    <div class="form-group">
    <%= form_for current_user do |f| %>
    <h4>Your Avatar</h4>
      <div class="form-group file">
        <%= f.file_field :avatar, class: "form-control", placeholder: "Upload" %>
      </div>

      <h4>User Information</h4>
        <div class='input-group'>
          <%= f.text_field :family_name, placeholder: "Family name", class: "form-control" %>
        </div>

        <div class='input-group'>
          <%= f.text_field :first_name, placeholder: "First name", class: "form-control" %>
        </div>

        <div class='input-group'>
          <%= f.text_field :family_name_kana, placeholder: "セイ", class: "form-control" %>
        </div>

        <div class='input-group'>
          <%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control" %>
        </div>

        <br><%= f.submit "Send", class: "btn btn-primary withripple" %>
    <% end %>
   </div>
  </div>
</div>
<%= render partial: 'common/footer' %>