<% provide :title, "｜User Edit" %>

<%= render partial: 'common/header' %>

<div class="intro-devise">
  <div class="inner" style="display: inline-block;">
    <h3  style="margin: 15px;">Edit Your Account!</h3>
    <div class="form-group">
      <%= form_for current_user do |f| %>
      <h4>Your Avatar</h4>

      <div class="form-group file" style="margin: 10px;">
        <%= f.file_field :avatar, class: "form-control", placeholder: "Upload" %>
      </div>

      <h4>User Information</h4>
        <div class='input-group' style="margin: 10px;">
          Family name
          <%= f.text_field :family_name, placeholder: "Family name", class: "form-control" %>
        </div>

        <div class='input-group' style="margin: 10px;">
          First name
          <%= f.text_field :first_name, placeholder: "First name", class: "form-control" %>
        </div>

        <br><%= f.submit "Send", class: "btn btn-primary withripple" %>
    <% end %>
  </div>
    </div>
</div>
<%= render partial: 'common/footer' %>
