<% provide :title, "｜User Edit" %>

<%= render partial: 'common/header' %>

<div class="intro-devise">
  <% breadcrumb :user_edit %>
  <%= render partial: 'common/breadcrumb' %>
  <h2 class="h3_home wow fadeIn" data-wow-delay="0.6s"style="margin= 20px;" >User Edit</h2>
  <div class="inner" style="display: inline-block;">
    <div class="form-group">
      <%= form_for current_user do |f| %>

          <h5>User name</h5>
          <%= f.text_field :name, placeholder: "User name", class: "form-control" %>

          <h5>Information</h5>
          <%= f.text_field :information, placeholder: "Information", class: "form-control" %>

          <h5>Image</h5>
          <%= f.file_field :avatar, class: "form-control", placeholder: "Upload" %>

        <br><%= f.submit "Send", class: "btn btn-primary withripple" %>
    <% end %>
  </div>
    </div>
</div>
<%= render partial: 'common/footer' %>
