<html>
<% provide :title, "｜Rate" %>
<body id="home" style="overflow: visible;">

  <!-- Preloader -->
  <div id="preloader" style="display: none;">
    <div id="status" style="display: none;">
    </div>
  </div>

  <!-- RateScreen -->
    <div class="intro-rates" style="background-image: url(<%= @theme.image_url %>); ">
    <div class="col-xs-12 text-center abcen1">
      <h2 class="h3_home wow fadeIn" data-wow-delay="0.6s"><%= @theme.title %></h2>
      <ul class="list-inline intro-social-buttons">
        <li id="download" >
          <form method="post" action="">
            <span class="network-name">
              <a href="/themes/<%= @theme.id %>/rates/show" class="btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s;">Rating!</a>
              <h4 class="h3_home wow fadeIn" data-wow-delay="0.6s"><%= @theme.information %></h3>
            </span>
          </form>
        </li>
      </ul>
    </div>
        <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn animated animated" style="visibility: visible;">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp animated animated" data-wow-duration="1.5s"  href="#whatis" style="visibility: visible; animation-duration: 1.5s;"></a>
      </div>
    </div>
  </div>


  <!-- NavBar-->
<%= render partial: 'common/header' %>

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Ranking</h2>
      </div>
      <div class="row">
        <% @ranks.each.with_index(1) do |rank, i| %>
        <% element = @elements.find(rank.elements_id) %>
        <div class="col-sm-4 wow fadeInDown text-center">
          <%= image_tag("#{element.image_url}", :class=> "rotate") %>
          <h2><%= i %></h2>
          <h3 class="title"><%= element.name %></h3>
          <p class="lead" style="margin:0"><%= rank.score %></p>
          <p><a class="btn btn-embossed btn-primary view" href="https://ja.wikipedia.org<%= element.link %>" style="margin: 15px;" role="button">Detail</a></p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        <% if i == 3  %>
        <!-- 上位３つを選出 -->
          <% break %>
          <% end %>
        <% end %>
      </div><!-- /.row -->
    </div>
  </div>

  <!-- Screenshot -->
  <div id="screen" class="content-section-b">
    <div class="container">
      <div class="row" >
        <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
          <h2>Others</h2>
          <p class="lead" style="margin-top:0">Below 3rd place</p>
        </div>
      </div>

      <div class="row wow bounceInUp" >
        <div id="owl-demo" class="owl-carousel">
          <% @ranks.each.with_index(1) do |rank, i| %>
          <% if i <= 3 %>
            <% next %>
          <% else %>
          <div class="col-sm-4 wow fadeInDown text-center">
            <div class="item">
              <div class="img-responsive img-rounded">
                <% element = @elements.find(rank.elements_id) %>
                <%= image_tag("#{element.image_url}", :size => "35x35" , :class=> "rotate") %>
                <h3><%= i %></h3>
                <h4><%= element.name %></h4>
                <p class="lead" style="margin:0"><%= rank.score %></p>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
	</div>


  <div id="downloadlink" class="banner-index">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Detail Rist</h2>
        <p class="lead" style="margin-top:0">Output the result of this theme in csv.</p>
        <p><%= link_to "Output", theme_rates_path(format: :csv), class: "btn btn-embossed btn-primary view" %></p>
       </div>
      </div>
    </div>
  </div>

 <%= render partial: 'common/footer' %>

  <script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();

    });
    });

  </script>

  <script>
   new WOW().init();
  </script>

</body>

</html>
