<div class="panel-body">
  <% i = 0 %>
  <% @result.each do |result| %>
  <%= form_for result, :url => {:action => 'update'}, html: {class: 'theme-inner'}, remote: true do |f| %>
  <% element = @elements.find(result.elements_id) %>
  <h3 class="title" style="padding: 10px;"><%= element.name %></h3>
  <a href = "https://wikipedia.org<%= element.link %>">
    <div class="ele_image" style="background-image: url(<%= element.image_url %>);"></div>
  </a>
  <%= f.hidden_field_tag :result_id, "#{result.id}" %>
  <%= f.submit('Select', :class => 'btn wow tada btn-embossed btn-primary pull-center', style: "padding: 10px;") -%>
  <!--
  スコア計算
  ①２つの候補のスコアの和である@sumと、選択した候補のスコア(result.score)の２倍を比較する
  ②選択した候補の方がスコアが大きい場合、result.score*2の方が@sum大きいはずである
  ③選択していない候補の方がスコアが大きい場合、@sumの方がresult.score*2より大きいはずである
  -->
  <%= hidden_field_tag :score,
  if result.score * 2 >=  @sum
    result.score += 16
  else
    result.score += 16 + ( 0.04 * (@sum - result.score * 2 ) )
    result.score = result.score.round
  end %>
  <% end %>
  <% if i == 0 %>
</div>
<h2 class="h3_home wow fadeIn" style="font-size: 30px; color: #ffffff;">↑ <strong><%= @theme.title %></strong> ↓</h2>
<% i += 1 %>
<% end %>
<% end %>
<form>
  <%= link_to "Skip", " ", class: "btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated", style: "margin:0 30px auto;" %>
  <%= link_to "End", genre_theme_rates_path, class: "btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated", style: "margin:0 30px auto;" %>
</form>
