<% i = 0 %>
<% @result.each do |result| %>
<%= form_for result, :url => {:action => 'update'}, html: {class: 'ele'}, remote: true do |f| %>
<% element = @elements.find(result.elements_id) %>
<h3 class="title"><%= element.name %></h3>
<a href = "https://wikipedia.org<%= element.link %>">
<div class="ele_image" style="background-image: url(<%= element.image_url %>);"></div>
</a>
<%= f.hidden_field_tag :result_id, "#{result.id}" %>
<%= f.submit('Select', :class => 'btn wow tada btn-embossed btn-primary pull-center') -%>
<!-- スコア計算 -->
<!-- ２つの候補のスコアの和sumと、選択した候補のスコア(result.score)の２倍を比較する -->
<!-- 選択した候補のほうが大きい場合、result.score*2の方が大きいはずである -->
<!-- 選択していない候補のほうが大きい場合、sumの方が大きいはずである -->
<%= hidden_field_tag :score,
if result.score * 2 >=  @sum
  result.score += 16
else
  result.score += 16 + ( 0.04 * (@sum - result.score * 2 ) )
  result.score = result.score.round
end
%>
<% end %>
<% if i == 0 %>
<form>
  <%= link_to "Skip", " ", class: "btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated", style: "margin:0 30px auto;" %>
  <%= link_to "End", genre_theme_rates_path, class: "btn  btn-lg mybutton_standard wow swing wow fadeIn animated animated", style: "margin:0 30px auto;" %>
</form>
<% i += 1 %>
<% end %>
<% end %>
